{% extends "base.html" %}

{% block content %}

  <div class="container">
    <h1>Compare Players <span id='date-picker-button'>{{ date.replace('-', '/') }}</span>
    </h1>
<div class="container" id="sandbox-container">

    <div class="input-daterange input-group" id="datepicker">
    <input class="input-sm form-control" name="start" type="text">
    <span class="input-group-addon">bis</span>
    <input class="input-sm form-control" name="end" type="text">
    </div>
  
</div>
    <hr>
  </div>


<script src="{{ url_for('static',filename='js/compare.js') }}"></script>
{% endblock %}