{% extends "bootstrap/base.html" %}

<!-- <link href="{{ url_for('static', filename='img/icon.png') }}" rel="icon" type="image/x-icon"> -->

{% block title %}{{ page.title }} - {{ website.name }} - Hello {{ user.name }} and {{ user.hash }}! {% endblock %}

{% block navbar %}

  <!-- top navigation header -->

  <!-- "navbar-default" = light gray -->
  <!-- "navbar-inverse" = black -->
  <!-- "navbar-static-top" = navbar fixed on top of site -->
  <!-- "navbar-fixed-top" = navbar fixed on top of browser -->
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <a href="#" class="navbar-brand">{{ website.name }}</a>

      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse navHeaderCollapse">
        <!-- make list visible in mobile once the button is pressed. -->
        <ul class="nav navbar-nav navbar-right">

          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Leagues</a></li>
          <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Google+</a></li>
              <li><a href="#">Instagram</a></li>
            </ul>

          </li>
          <li><a href="#">About</a></li>

          <!-- open modal -->
          <li><a href="#contact" data-toggle="modal">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- carousel -->
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <a href="{{ page.banner.link }}">
          <img src="{{ url_for('static', filename=page.banner.path) }}" alt="{{ page.banner.alt }}" class="img-responsive"></img>
<!--           <div class="carousel-caption">
            <h3>{{ page.banner.name }}</h3>
          </div> -->
          <div class="carousel-caption" style="margin-bottom: 30%;">
            <div class="header-text hidden-xs">
              <div class="col-md-12 text-center">
                <h1>
                  <span>{{ page.header }}</span>
                </h1>
                <br>
                <h3>
                  <span>{{ page.header_msg }}</span>
                </h3>
                <br>
              </div>
            </div>
          </div>
        </a>
      </div>
<!--       {% for banner in banners %}
      <div class="item">
        <a href="{{ banner.link }}">
          <img src="{{url_for('static', filename=banner.path)}}" alt="{{ banner.alt }}" class="img-responsive"></img>
          <div class="carousel-caption">
            <h3>{{ banner.name }}</h3>
          </div>
        </a>
      </div>
      {% endfor %} -->
    </div>
<!--     <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a> -->
  </div>
  <!-- end carousel -->

  <!-- modal -->
  <div class="modal fade" id="contact" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form-horizontal">
          <div class="modal-header">
            <h4>Contact Me</h4>
          </div>
          <div class="modal-body">
            
            <!-- forms -->
            <div class="form-group">
              <label for="contact-name" class="col-lg-2 control-label">Name:</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="contact-name" placeholder="Full Name"></input>
              </div>
            </div>
            <div class="form-group">
              <label for="contact-email" class="col-lg-2 control-label">Email:</label>
              <div class="col-lg-10">
                <input type="email" class="form-control" id="contact-email" placeholder="you@example.com"></input>
              </div>
            </div>
            <div class="form-group">
              <label for="contact-msg" class="col-lg-2 control-label">Message:</label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="8"></textarea>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Close</a>
            <button class="btn btn-primary" type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end modal -->

  <!-- sticky footer -->
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">{{ page.footer }}</p>
      <a target="_blank" href="{{ website.author_github }}" class="navbar-btn btn-success btn pull-right">Check out my Github!</a>
    </div>
  </div>
  <!-- end sticky footer -->

{% endblock %}

{% block content %}
{% endblock %}
