{% extends "base.html" %}

{% block content %}

<form action="">
  <div class="container" id="sandbox-container">
    <h2 style="float:left;">Top Performers on
    </h2>
    <div style="float:left; padding-left:1em; padding-top: 3px; max-width:160px" class="input-daterange input-group" id="datepicker">
      <br>
      <input style="font-size:16px" class="input-sm form-control" name="date" type="text" value="{{ date }}">
    </div>
    <div style="float:left; padding-left:1em; padding-top: 0px">
      <br>
      <input class="form-control" type="submit" value="Reload">
    </div>
  </div>
  <input type="hidden" name="stat" value="{{ stat }}">
  <input type="hidden" name="stat2" value="{{ stat2 }}">
</form>

<hr>

<!-- responsive grid system -->
<div class="container" style="padding-bottom: 10px">

  <!-- no columns when smaller than 'medium' -->
  <!-- 2 players per row -->
  <!-- TODO: Make players objects rather than dicts. link() should be a method. Displays more player info and graph. -->
  {% for top_player in top_players %}
  <div class="col-md-{{ top_div }}">
    <div class="col-md-5">
      <img id="home-headshot-img" src="{{ url_for('static', filename=top_player.player.headshot_img.path )}}" alt="{{ top_player.player.headshot_img.alt }}" class="img-responsive center"></img>
    </div>
    <div class="col-md-7" style="padding-top:30px">
      <h4 class="center"><a href="{{ top_player.player.link }}">{{ top_player.player.name }}</a></h4>
      <p class="center">{{ chosen_stat }} = {{ top_player.game[stat] }}</p>
    </div>
  </div>
  {% endfor %}
</div>
<!-- end grid -->

<div id="bottom-container" class="container shadow">


  {% if top_players|length != 0 %}

  <!-- test table -->
  <div class="table-responsive">
    <table class='table'>

      <thead>
        <tr>
          <th id="name-th">NAME</th>
          <th><a href='daily?date={{ date }}&stat=min'>MIN</a></th>
          <th><a href='daily?date={{ date }}&stat=fgm'>FGM</a></th>
          <th><a href='daily?date={{ date }}&stat=fga'>FGA</a></th>
          <th><a href='daily?date={{ date }}&stat=fg_pct'>FG%</a></th>
          <th><a href='daily?date={{ date }}&stat=fg3m'>3PM</a></th>
          <th><a href='daily?date={{ date }}&stat=fg3a'>3PA</a></th>
          <th><a href='daily?date={{ date }}&stat=fg3_pct'>3P%</a></th>
          <th><a href='daily?date={{ date }}&stat=ftm'>FTM</a></th>
          <th><a href='daily?date={{ date }}&stat=fta'>FTA</a></th>
          <th><a href='daily?date={{ date }}&stat=ft_pct'>FT%</a></th>
          <th><a href='daily?date={{ date }}&stat=dreb'>DREB</a></th>
          <th><a href='daily?date={{ date }}&stat=oreb'>OREB</a></th>
          <th><a href='daily?date={{ date }}&stat=reb'>REB</a></th>
          <th><a href='daily?date={{ date }}&stat=ast'>AST</a></th>
          <th><a href='daily?date={{ date }}&stat=stl'>STL</a></th>
          <th><a href='daily?date={{ date }}&stat=blk'>BLK</a></th>
          <th><a href='daily?date={{ date }}&stat=tov'>TOV</a></th>
          <th><a href='daily?date={{ date }}&stat=pf'>PF</a></th>
          <th><a href='daily?date={{ date }}&stat=pts'>PTS</a></th>
          <th><a href='daily?date={{ date }}&stat=plus_minus'>+/-</a></th>
          <th><a href='daily?date={{ date }}&stat=per'>PER</a></th>
          <th>POS</th>
          <th>TEAM</th>
          <th id="matchup-th">MATCHUP</th>
          <th>WL</th>
        </tr>
      </thead>
      <tbody>
        {% for p in players %}
        <tr>
          <td><a href='{{ p.player.link }}'>{{ p.player.name }}</a></td>
          {% if stat == "min" %}<td style="background-color:lightblue;">{{ p.game.min }}</td>{% else %}<td>{{ p.game.min }}</td>{% endif %}
          {% if stat == "fgm" %}<td style="background-color:lightblue;">{{ p.game.fgm }}</td>{% else %}<td>{{ p.game.fgm }}</td>{% endif %}
          {% if stat == "fga" %}<td style="background-color:lightblue;">{{ p.game.fga }}</td>{% else %}<td>{{ p.game.fga }}</td>{% endif %}
          {% if stat == "fg_pct" %}<td style="background-color:lightblue;">{{ p.game.fg_pct }}</td>{% else %}<td>{{ p.game.fg_pct }}</td>{% endif %}
          {% if stat == "fg3m" %}<td style="background-color:lightblue;">{{ p.game.fg3m }}</td>{% else %}<td>{{ p.game.fg3m }}</td>{% endif %}
          {% if stat == "fg3a" %}<td style="background-color:lightblue;">{{ p.game.fg3a }}</td>{% else %}<td>{{ p.game.fg3a }}</td>{% endif %}
          {% if stat == "fg3_pct" %}<td style="background-color:lightblue;">{{ p.game.fg3_pct }}</td>{% else %}<td>{{ p.game.fg3_pct }}</td>{% endif %}
          {% if stat == "ftm" %}<td style="background-color:lightblue;">{{ p.game.ftm }}</td>{% else %}<td>{{ p.game.ftm }}</td>{% endif %}
          {% if stat == "fta" %}<td style="background-color:lightblue;">{{ p.game.fta }}</td>{% else %}<td>{{ p.game.fta }}</td>{% endif %}
          {% if stat == "ft_pct" %}<td style="background-color:lightblue;">{{ p.game.ft_pct }}</td>{% else %}<td>{{ p.game.ft_pct }}</td>{% endif %}
          {% if stat == "dreb" %}<td style="background-color:lightblue;">{{ p.game.dreb }}</td>{% else %}<td>{{ p.game.dreb }}</td>{% endif %}
          {% if stat == "oreb" %}<td style="background-color:lightblue;">{{ p.game.oreb }}</td>{% else %}<td>{{ p.game.oreb }}</td>{% endif %}
          {% if stat == "reb" %}<td style="background-color:lightblue;">{{ p.game.reb }}</td>{% else %}<td>{{ p.game.reb }}</td>{% endif %}
          {% if stat == "ast" %}<td style="background-color:lightblue;">{{ p.game.ast }}</td>{% else %}<td>{{ p.game.ast }}</td>{% endif %}
          {% if stat == "stl" %}<td style="background-color:lightblue;">{{ p.game.stl }}</td>{% else %}<td>{{ p.game.stl }}</td>{% endif %}
          {% if stat == "blk" %}<td style="background-color:lightblue;">{{ p.game.blk }}</td>{% else %}<td>{{ p.game.blk }}</td>{% endif %}
          {% if stat == "tov" %}<td style="background-color:lightblue;">{{ p.game.tov }}</td>{% else %}<td>{{ p.game.tov }}</td>{% endif %}
          {% if stat == "pf" %}<td style="background-color:lightblue;">{{ p.game.pf }}</td>{% else %}<td>{{ p.game.pf }}</td>{% endif %}
          {% if stat == "pts" %}<td style="background-color:lightblue;">{{ p.game.pts }}</td>{% else %}<td>{{ p.game.pts }}</td>{% endif %}
          {% if stat == "plus_minus" %}<td style="background-color:lightblue;">{{ p.game.plus_minus }}</td>{% else %}<td>{{ p.game.plus_minus }}</td>{% endif %}
          {% if stat == "per" %}<td style="background-color:lightblue;">{{ p.game.per }}</td>{% else %}<td>{{ p.game.per }}</td>{% endif %}
          <td>{{ p.player.position }}</td>
          <td>{{ p.player.team.abbrev }}</td>
          <td>{{ p.game.matchup }}</td>
          <td>{{ p.game.wl }}</td>
        </tr>
        {% endfor %}
      </tbody>


    </table>
  </div>

  {% else %}
  <h3>No games on that day...</h3>
  {% endif %}
</div>
<!-- End table -->


<script src="{{ url_for('static',filename='js/datepicker.js') }}"></script>
<script type="text/javascript">

$(function() {

  // var btns = $(".btn");
  // btns.click(function() {
  //   alert("hi");
  // });


  $("tbody > tr:even").css("background-color", "#F4F4F8");
  $("tbody > tr:odd").css("background-color", "#EFF1F1");

});

</script>

{% endblock %}