{% extends "base.html" %}

{% block content %}

  <!-- responsive grid system -->
  <!-- row can only have 12 columns -->
  <!-- here we have 4 columns of size 3 -->
  <div id="bottom-container" class="container">

    <!-- no columns when smaller than 'medium' -->
    <!-- 2 players per row -->
    <!-- TODO: Make players objects rather than dicts. link() should be a method. Displays more player info and graph. -->

    {% for top_player in top_players %}
    <div class="col-md-{{ top_div }}">
      <div class="col-md-5">
        <img id="home-headshot-img" src="{{ url_for('static', filename=top_player.player.headshot_img.path )}}" alt="{{ top_player.player.headshot_img.alt }}" class="img-responsive center"></img>
      </div>
      <div class="col-md-7" style="padding-top:30px">
        <h4 class="center"><a href="{{ top_player.player.link }}">{{ top_player.player.name }}</a></h4>
        <p class="center">{{ chosen_stat }} = {{ top_player.game[stat] }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- end grid -->






<div id="bottom-container" class="container">
  <!-- test table -->
  <div class="table-responsive">
    <table class='table'>

      <thead>
        <tr>
          <th id="name-th">NAME</th>
          <th><a href='date_stats?date={{ date }}&stat=min'>MIN</a></th>
          <th><a href='date_stats?date={{ date }}&stat=fgm'>FGM</a></th>
          <th><a href='date_stats?date={{ date }}&stat=fga'>FGA</a></th>
          <th><a href='date_stats?date={{ date }}&stat=fg_pct'>FG%</a></th>
          <th><a href='date_stats?date={{ date }}&stat=fg3m'>3PM</a></th>
          <th><a href='date_stats?date={{ date }}&stat=fg3a'>3PA</a></th>
          <th><a href='date_stats?date={{ date }}&stat=fg3_pct'>3P%</a></th>
          <th><a href='date_stats?date={{ date }}&stat=ftm'>FTM</a></th>
          <th><a href='date_stats?date={{ date }}&stat=fta'>FTA</a></th>
          <th><a href='date_stats?date={{ date }}&stat=ft_pct'>FT%</a></th>
          <th><a href='date_stats?date={{ date }}&stat=dreb'>DREB</a></th>
          <th><a href='date_stats?date={{ date }}&stat=oreb'>OREB</a></th>
          <th><a href='date_stats?date={{ date }}&stat=reb'>REB</a></th>
          <th><a href='date_stats?date={{ date }}&stat=ast'>AST</a></th>
          <th><a href='date_stats?date={{ date }}&stat=stl'>STL</a></th>
          <th><a href='date_stats?date={{ date }}&stat=blk'>BLK</a></th>
          <th><a href='date_stats?date={{ date }}&stat=tov'>TOV</a></th>
          <th><a href='date_stats?date={{ date }}&stat=pf'>PF</a></th>
          <th><a href='date_stats?date={{ date }}&stat=pts'>PTS</a></th>
          <th><a href='date_stats?date={{ date }}&stat=plus_minus'>+/-</a></th>
          <th><a href='date_stats?date={{ date }}&stat=per'>PER</a></th>
          <th>POS</th>
          <th>TEAM</th>
          <th id="matchup-th">MATCHUP</th>
          <th>WL</th>
        </tr>
      </thead>

      {% for game in games %}
      <tr>
        <td><a href='{{ game.link }}'>{{ game.name }}</a></td>
        <td>{{ game.min }}</td>
        <td>{{ game.fgm }}</td>
        <td>{{ game.fga }}</td>
        <td>{{ game.fg_pct }}</td>
        <td>{{ game.fg3m }}</td>
        <td>{{ game.fg3a }}</td>
        <td>{{ game.fg3_pct }}</td>
        <td>{{ game.ftm }}</td>
        <td>{{ game.fta }}</td>
        <td>{{ game.ft_pct }}</td>
        <td>{{ game.dreb }}</td>
        <td>{{ game.oreb }}</td>
        <td>{{ game.reb }}</td>
        <td>{{ game.ast }}</td>
        <td>{{ game.stl }}</td>
        <td>{{ game.blk }}</td>
        <td>{{ game.tov }}</td>
        <td>{{ game.pf }}</td>
        <td>{{ game.pts }}</td>
        <td>{{ game.plus_minus }}</td>
        <td>{{ game.per }}</td>
        <td>{{ game.position }}</td>
        <td>{{ game.team }}</td>
        <td>{{ game.matchup }}</td>
        <td>{{ game.wl }}</td>
      </tr>
      {% endfor %}


    </table>
  </div>
</div>
<!-- End table -->

{% endblock %}