{% extends "base.html" %}

{% block content %}

  <!-- carousel -->
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <a href="{{ page.banner.link }}">
          <img id="carousel-img" src="{{ url_for('static', filename=page.banner.path) }}" alt="{{ page.banner.name }}" class="img-responsive"></img>
          <div class="carousel-caption">
            <div class="header-text hidden-xs">
              <div class="col-md-12 text-center">
                <h1>
                  <span>{{ page.header }}</span>
                </h1>
                <br>
                <h3>
                  <span>{{ page.header_msg }}</span>
                </h3>
                <br>
              </div>
            </div>
          </div>
        </a>
      </div>
<!--       {% for banner in banners %}
      <div class="item">
        <a href="{{ banner.link }}">
          <img src="{{url_for('static', filename=page.banner.path)}}" alt="{{ page.banner.alt }}" class="img-responsive"></img>
          <div class="carousel-caption">
            <h3>{{ banner.name }}</h3>
          </div>
        </a>
      </div>
      {% endfor %} -->
    </div>
<!--     <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a> -->
  </div>
  <!-- end carousel -->

  <!-- jumbotron -->

  <!-- TODO: yahoo/bing/google search for player name + news -->
  <div id="home-news-container" class="container">
    <div class="jumbotron">
      <center>
      <h1>Player News</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam elit a magna egestas, quis porttitor nisl dapibus. Proin diam sem, ornare non sodales ut, hendrerit eget urna. Sed sed convallis tortor, ac imperdiet risus. Aliquam ac arcu vitae sapien dapibus condimentum eleifend sit amet dolor. Aliquam pretium arcu nec nisl consectetur laoreet. Etiam ullamcorper efficitur sem eu porta. Aliquam molestie ipsum eget leo varius rhoncus. Integer volutpat, metus sed molestie sollicitudin, nisi tellus dignissim mauris, id vehicula ante ex non diam. Pellentesque eget odio in velit semper ultricies vehicula id ipsum. Nulla ac enim hendrerit, mollis tortor in, dapibus dolor.</p>
      <a class="btn btn-default">Watch Now</a>
      <a class="btn btn-info">Tweet it!</a>
    </center>
    </div>
  </div>
  <!-- end jumbotron -->

  <!-- responsive grid system -->
  <!-- row can only have 12 columns -->
  <!-- here we have 4 columns of size 3 -->
  <div id="bottom-container" class="container">

    <!-- no columns when smaller than 'medium' -->
    <!-- 2 players per row -->
    <!-- TODO: Make players objects rather than dicts. link() should be a method. Displays more player info and graph. -->

    {% for row in player_rows %}
    <div class="row">
      {% for player in row %}
      <div id="home-column" class="col-md-6">
        <div class="col-md-5">
          <img id="home-headshot-img" src="{{ url_for('static', filename=player.headshot_img.path )}}" alt="{{ player.headshot_img.alt }}" class="img-responsive center"></img>
        </div>
        <div class="col-md-7">
          <h3><a href="{{ player.link }}">{{ player.name }}</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam elit a magna egestas, quis porttitor nisl dapibus. </p>
          <a id="home-player-button" href="#" class="btn btn-default" >Read More</a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  <!-- end grid -->

<script type="text/javascript">

$(function() {

  var btns = $(".btn");
  btns.click(function() {
    alert("hi");
  });

});  

</script>

{% endblock %}