{% extends "base.html" %}

{% block content %}

  {% if player %}
  <meta id="primary-color" data="{{ team.color.primary }}">
  <meta id="secondary-color" data="{{ team.color.secondary }}">
  <meta id="primary-font-color" data="{{ team.color.primary_font }}">
  <meta id="secondary-font-color" data="{{ team.color.secondary_font }}">
  <meta id="player-id" data="{{ player._id }}">
  {% else %}
  <meta id="primary-color" data="#F4F4F8">
  <meta id="secondary-color" data="#F4F4F8">
  <meta id="primary-font-color" data="black">
  <meta id="secondary-font-color" data="#F4F4F8">
  {% endif %}

  <div id="bottom-container" class="container shadow">

  {% if player %}
    <div class="row">
      <div style="padding:15px">
        <div style="margin: 16px; padding: 30px; height: 215px; width: 400px; background-image: url({{ url_for('static', filename=team.logo_img.path )}});"class="col-md-5">
          <img id="player-headshot-img" src="{{ url_for('static', filename=player.headshot_img.path )}}" alt="{{ player.headshot_img.alt }}" ></img>
        </div>
      </div>
      <div class="col-md-7">
        <div class="row" style="padding: 4px">
          <h1 style="padding-left: 14px; padding-right: 14px; font-size: 40px;" class="container-text heading-font"><b>{{ player.name }}</b></h1>
          <hr>
          <div class="col-md-6">
            <div class="info-card shadow">
              <div class="row">
                <div class="col-md-6">
                  <span style="font-size:16px;"><b>Position:</b></span>
                </div>
                <div class="col-md-6">
                  <span style="font-size:16px;"><b>{{ player.position }}</b></span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span style="font-size:16px;"><b>Jersey:</b></span>
                </div>
                <div class="col-md-6">
                  <span style="font-size:16px;"><b>#{{ player.jersey }}</b></span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span style="font-size:16px;"><b>Height:</b></span>
                </div>
                <div class="col-md-6">
                  <span style="font-size:16px;"><b>{{ player.height.replace("-", "' ") + "\"" }}</b></span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span style="font-size:16px;"><b>Weight:</b></span>
                </div>
                <div class="col-md-6">
                  <span style="font-size:16px;"><b>{{ player.weight }} lbs</b></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-card shadow">
              <div class="row">
                <div class="col-md-6">
                  <span style="font-size:16px;"><b>Birthdate:</b></span>
                </div>
                <div class="col-md-6">
                  <span style="font-size:16px;"><b>{{ player.birthdate[5:].replace('-', '/') + "/" + player.birthdate[:4] }}</b></span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span style="font-size:16px;"><b>School:</b></span>
                </div>
                <div class="col-md-6">
                  <span style="font-size:16px;"><b>{{ player.school }}</b></span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span style="font-size:16px;"><b>Country:</b></span>
                </div>
                <div class="col-md-6">
                  <span style="font-size:16px;"><b>{{ player.country }}</b></span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span style="font-size:16px;"><b>Years Active:</b></span>
                </div>
                <div class="col-md-6">
                  <span style="font-size:16px;"><b>{{ player.to_year - player.from_year }}</b></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div id="average-trophies" class="container">

      </div>

      <div style="padding-left: 16px; padding-right: 16px" class="table-responsive">
        <h4 id="average-label" class="container-text"><b>Average  &#x25B2;</b></h4>
        <table class='table'>
          <thead>
            <tr>
              <th>MIN</th>
              <th>FGM</th>
              <th>FGA</th>
              <th>FG%</th>
              <th>3PM</th>
              <th>3PA</th>
              <th>3P%</th>
              <th>FTM</th>
              <th>FTA</th>
              <th>FT%</th>
              <th>DREB</th>
              <th>OREB</th>
              <th>REB</th>
              <th>AST</th>
              <th>STL</th>
              <th>BLK</th>
              <th>TOV</th>
              <th>PF</th>
              <th>PTS</th>
              <th>+/-</th>
              <th>PER</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>{{ season.average.min }}</th>
              <th>{{ season.average.fgm }}</th>
              <th>{{ season.average.fga }}</th>
              <th>{{ season.average.fg_pct }}</th>
              <th>{{ season.average.fg3m }}</th>
              <th>{{ season.average.fg3a }}</th>
              <th>{{ season.average.fg3_pct }}</th>
              <th>{{ season.average.ftm }}</th>
              <th>{{ season.average.fta }}</th>
              <th>{{ season.average.ft_pct }}</th>
              <th>{{ season.average.dreb }}</th>
              <th>{{ season.average.oreb }}</th>
              <th>{{ season.average.reb }}</th>
              <th>{{ season.average.ast }}</th>
              <th>{{ season.average.stl }}</th>
              <th>{{ season.average.blk }}</th>
              <th>{{ season.average.tov }}</th>
              <th>{{ season.average.pf }}</th>
              <th>{{ season.average.pts }}</th>
              <th>{{ season.average.plus_minus }}</th>
              <th>{{ season.average.per }}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">

      <div id="total-trophies" class="container">

      </div>

      <div style="padding-left: 16px; padding-right: 16px" class="table-responsive">
        <h4 id="total-label" class="container-text"><b>Total  &#x25B2;</b></h4>
        <table class='table'>
          <thead>
            <tr>
              <th>MIN</th>
              <th>FGM</th>
              <th>FGA</th>
              <th>FG%</th>
              <th>3PM</th>
              <th>3PA</th>
              <th>3P%</th>
              <th>FTM</th>
              <th>FTA</th>
              <th>FT%</th>
              <th>DREB</th>
              <th>OREB</th>
              <th>REB</th>
              <th>AST</th>
              <th>STL</th>
              <th>BLK</th>
              <th>TOV</th>
              <th>PF</th>
              <th>PTS</th>
              <th>+/-</th>
              <th>PER</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>{{ season.total.min }}</th>
              <th>{{ season.total.fgm }}</th>
              <th>{{ season.total.fga }}</th>
              <th>{{ season.total.fg_pct }}</th>
              <th>{{ season.total.fg3m }}</th>
              <th>{{ season.total.fg3a }}</th>
              <th>{{ season.total.fg3_pct }}</th>
              <th>{{ season.total.ftm }}</th>
              <th>{{ season.total.fta }}</th>
              <th>{{ season.total.ft_pct }}</th>
              <th>{{ season.total.dreb }}</th>
              <th>{{ season.total.oreb }}</th>
              <th>{{ season.total.reb }}</th>
              <th>{{ season.total.ast }}</th>
              <th>{{ season.total.stl }}</th>
              <th>{{ season.total.blk }}</th>
              <th>{{ season.total.tov }}</th>
              <th>{{ season.total.pf }}</th>
              <th>{{ season.total.pts }}</th>
              <th>{{ season.total.plus_minus }}</th>
              <th>{{ season.total.per }}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div style="padding-left: 16px; padding-right: 16px" class="table-responsive">
        <h4 class="container-text"><b>Season</b></h4>
        <table class='table'>
          <thead>
            <tr>
              <th>DATE</th>
              <th>MATCHUP</th>
              <th>WL</th>
              <th>MIN</th>
              <th>FGM</th>
              <th>FGA</th>
              <th>FG%</th>
              <th>3PM</th>
              <th>3PA</th>
              <th>3P%</th>
              <th>FTM</th>
              <th>FTA</th>
              <th>FT%</th>
              <th>DREB</th>
              <th>OREB</th>
              <th>REB</th>
              <th>AST</th>
              <th>STL</th>
              <th>BLK</th>
              <th>TOV</th>
              <th>PF</th>
              <th>PTS</th>
              <th>+/-</th>
              <th>PER</th>
            </tr>
          </thead>
          <tbody>
          {% for game in season.games %}
            <tr>
              <th><a href="date?date={{ game.date.replace('/', '-') }}">{{ game.date }}</a></th>
              <th>{{ game.matchup }}</th>
              <th>{{ game.wl }}</th>
              <th>{{ game.min }}</th>
              <th>{{ game.fgm }}</th>
              <th>{{ game.fga }}</th>
              <th>{{ game.fg_pct }}</th>
              <th>{{ game.fg3m }}</th>
              <th>{{ game.fg3a }}</th>
              <th>{{ game.fg3_pct }}</th>
              <th>{{ game.ftm }}</th>
              <th>{{ game.fta }}</th>
              <th>{{ game.ft_pct }}</th>
              <th>{{ game.dreb }}</th>
              <th>{{ game.oreb }}</th>
              <th>{{ game.reb }}</th>
              <th>{{ game.ast }}</th>
              <th>{{ game.stl }}</th>
              <th>{{ game.blk }}</th>
              <th>{{ game.tov }}</th>
              <th>{{ game.pf }}</th>
              <th>{{ game.pts }}</th>
              <th>{{ game.plus_minus }}</th>
              <th>{{ game.per }}</th>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
  <h3>No player by that name...</h3>
  {% endif %}

  </div>
  <!-- end grid -->

<script type="text/javascript">

$(function() {

  // var btns = $(".btn");
  // btns.click(function() {
  //   alert("hi");
  // });

  var primary_color = $('meta#primary-color').attr("data");
  var secondary_color = $('meta#secondary-color').attr("data");
  var primary_font_color = $('#primary-font-color').attr("data");
  var secondary_font_color = $('#secondary-font-color').attr("data");

  var body = $("body");
  body.css({
    "background-color": primary_color
  });

  var bottom_container = $("#bottom-container");
  bottom_container.css({
    "background-color": secondary_color,
    "border-style": "solid",
    "border-width": "6px",
    "border-color": secondary_font_color
  });

  var container_text = $(".container-text");
  container_text.css({
    "color": secondary_font_color
  });

  var info_card = $(".info-card");
  info_card.css({
    "background-color": secondary_font_color,
    "padding": "8px",
    "border": "1px solid " + primary_font_color,
    "color": secondary_color
  });

  var hr = $("hr");
  hr.css({
    "border-color": primary_color
  });

  var table = $("table");
  table.css({
    "border": "1px solid " + primary_color
  });

  var thead = $("thead");
  thead.css({
    "color": primary_font_color,
    "background-color": primary_color
  });

  var tbody = $("tbody");
  tbody.css({
    "color": "black"
  });

  $("tbody > tr:even").css("background-color", "#F4F4F8");
  $("tbody > tr:odd").css("background-color", "#EFF1F1");

  // AJAX
  var player_id = $('meta#player-id').attr("data");

  var average_label_clicks = 0;
  var average_label = $("#average-label");
  var average_trophies = $("#average-trophies");
  average_label.click(function(){
    if (average_label_clicks == 0) {
      $.ajax({url: "/average.html?id=" + player_id, success: function(result){
          average_trophies.html(result);
      }});
      average_label.html("<b>Average  &#x25BC;</b>");
      average_label_clicks++;
    } else {
      average_trophies.children().remove();
      average_label.html("<b>Average  &#x25B2;</b>");
      average_label_clicks--;
    }
  });

  var total_label_clicks = 0;
  var total_label = $("#total-label");
  var total_trophies = $("#total-trophies");
  total_label.click(function(){
    if (total_label_clicks == 0) {
      $.ajax({url: "/total.html?id=" + player_id, success: function(result){
          total_trophies.html(result);
      }});
      total_label.html("<b>Total  &#x25BC;</b>");
      total_label_clicks++;
    } else {
      total_trophies.children().remove();
      total_label.html("<b>Total  &#x25B2;</b>");
      total_label_clicks--;
    }
  });

});

</script>

{% endblock %}