{% extends "base.html" %}

{% block content %}

  <meta id="primary-color" data="{{ team.color.primary }}">
  <meta id="secondary-color" data="{{ team.color.secondary }}">
  <meta id="primary-font-color" data="{{ team.color.primary_font }}">
  <meta id="secondary-font-color" data="{{ team.color.secondary_font }}">

  <div class="container bottom-container">

  {% if team %}
    <div>
      <div class="col-md-5">
        <img style="padding: 30px" id="team-logo-img" src="{{ url_for('static', filename=team.logo_img.path )}}" alt="{{ team.logo_img.alt }}" class="img-responsive center"></img>
      </div>
      <div class="col-md-7">
        <div class="row" style="padding: 16px">
          <h1 class="container-text"><b>{{ team.city + " " + team.name }}</b></h1>
          <hr>
          <p class="container-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam elit a magna egestas, quis porttitor nisl dapibus. </p>
        </div>
      </div>
    </div>
  {% endif %}

  </div>
  <!-- end grid -->

<script type="text/javascript">

$(function() {

  // var btns = $(".btn");
  // btns.click(function() {
  //   alert("hi");
  // });

  var primary_color = $('meta#primary-color').attr("data");
  var secondary_color = $('meta#secondary-color').attr("data");
  var primary_font_color = $('#primary-font-color').attr("data");
  var secondary_font_color = $('#secondary-font-color').attr("data");

  var body = $("body");
  body.css({
    "background-color": primary_color
  });

  var bottom_container = $(".bottom-container");
  bottom_container.css({
    "background-color": secondary_color,
    "border-style": "solid",
    "border-width": "6px",
    "border-color": secondary_font_color
  });

  var container_text = $(".container-text");
  container_text.css({
    "color": secondary_font_color
  });

  var hr = $("hr");
  hr.css({
    "border-color": primary_color
  });

});  

</script>

{% endblock %}