<!-- Top 20, 10, 5, 1, 2, 3 -->
<div style="padding-top: 30px;" class="container-text">
  <div style="display:inline-block; margin-right:15px;" >
    <p style="text-align:center"><b>Place</b></p>
    <img src="../static/img/trophies/trophy-1.png" height="100" width="80" />
    <p style="text-align:center"><b>AST</b></p>
  </div>
  <div style="display:inline-block; margin-right:15px;" >
    <p style="text-align:center"><b>Place</b></p>
    <img src="../static/img/trophies/trophy-2.png"/ height="100" width="80" />
    <p style="text-align:center"><b>PTS</b></p>
  </div>
  <div style="display:inline-block; margin-right:15px;" >
     <p style="text-align:center"><b>Place</b></p>
    <img src="../static/img/trophies/trophy-3.png" height="100" width="80" />
    <p style="text-align:center"><b>PER</b></p>
  </div>
  <div style="display:inline-block; margin-right:15px;" >
     <p style="text-align:center"><b>Top</b></p>
    <img src="../static/img/trophies/award-5.png" height="100" width="80" />
    <p style="text-align:center"><b>+/-</b></p>
  </div>
  <div style="display:inline-block; margin-right:15px;" >
     <p style="text-align:center"><b>Top</b></p>
    <img src="../static/img/trophies/award-10.png" height="100" width="80" />
    <p style="text-align:center"><b>STL</b></p>
  </div>
  <div style="display:inline-block; margin-right:15px;" >
     <p style="text-align:center"><b>Top</b></p>
    <img src="../static/img/trophies/award-20.png" height="100" width="80" />
    <p style="text-align:center"><b>BLK</b></p>
  </div>
  <div style="display:inline-block; margin-right:15px;" >
     <p style="text-align:center"><b>Place</b></p>
    <img src="../static/img/trophies/trophy-1.png" height="100" width="80" />
    <p style="text-align:center"><b>FT%</b></p>
  </div>
  <div style="display:inline-block; margin-right:15px;" >
    <p style="text-align:center"><b>Place</b></p>
    <img src="../static/img/trophies/trophy-2.png" height="100" width="80" />
    <p style="text-align:center"><b>FG%</b></p>
  </div>
  <div style="display:inline-block; margin-right:15px;" >
    <p style="text-align:center"><b>Place</b></p>
    <img src="../static/img/trophies/trophy-3.png" height="100" width="80" />
    <p style="text-align:center"><b>REB</b></p>
  </div>
  <div style="display:inline-block; margin-right:15px;" >
    <p style="text-align:center"><b>Place</b></p>
    <img src="../static/img/trophies/award-5.png" height="100" width="80" />
    <p style="text-align:center"><b>3PM</b></p>
  </div>
  <div style="display:inline-block; margin-right:15px;" >
    <p style="text-align:center"><b>Place</b></p>
    <img src="../static/img/trophies/award-10.png" height="100" width="80" />
    <p style="text-align:center"><b>TOV</b></p>
  </div>
</div>